body {
    overflow-y: hidden;
}

.swipe {
  position: absolute;
}

.containerOne {
  display: flex;
  justify-content: center;
}

.containerTwo {
  display: flex;
  justify-content: center;
}

.cardContainer {
  width: 80vw;
  max-width: 250px;
  height: 350px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 250px;
  height: 350px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.endCard {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 250px;
  height: 350px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card .info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 10px;
  background: white;
  border-radius: 10px;
}

.card .info h3 {
  color: #000;
  margin: 0px;
}

.card .info h5 {
  color: #000;
  margin: 0px;
}

.card .info h4 {
  color: #000;
  margin: 0px;
}

.endCard .theEnd {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.endCard .theEnd .blackLabel {
  margin-left: 10%;
  color: #000;
  width: 80%;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.endCard .theEnd .grayLabel {
  margin-left: 10%;
  color: #000;
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.endCard .theEnd .svg {
  width: 75px;
  height: 75px;
  margin: auto;
}

.half-page-image {
  width: 50%;
  display: inline-block;
}

@keyframes popup {
  0% {
    transform: scale(0);
  } 70% {
    transform: scale(1.1);
  } 85% {
    transform: scale(0.94);
  } 100% {
    transform: scale(1);
  }
}
